/* Navigation Section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home Section */
#home{
    height: 350px;
    padding: 3px 65px;
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 13px;
}
/* Services Section */
#services{
    flex-direction: column;
}
/* Clients Section */
#clients{
   flex-wrap: wrap;
}
#clients img{
   padding: 0px 6px;
}
/* Contacts us Section */
#contact-box form{
    width: 80%;
}
/* Footer Section */
/* Utility Classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}